<section>
	<%= render 'shared/user', user: @user %>
	<div>
		<p><%= @user.bio %></p>
		<% @user.most_recent_posts.each do |post| %>
		 <%= render 'shared/post', post:post %>
		<%end %>
	</div>
	<div>
		<button><%= link_to "see all posts", user_posts_path(@user) %></button>
	</div>
</section>