<div class="user-container">
	<img class="image" src="<%= user.photo %>" alt= <%= user.name %> >
	<div class="detail" >
		<h2><%= link_to user.name, user_path(user), class: "user_link" %></h2>
	  <p class="total-post"><%= "Number of post: #{ user.posts_counter || 0}" %></p>
	</div>
</div>